.gameboard {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    // width: 90%;
    place-items: center;
    justify-content: space-between;
    // margin-top: auto;
    flex-shrink: 1;
}
