.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 25%;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 0.5em;
    place-items: center;
    justify-content: center;
    gap: 1em;
    z-index: 9999;

    & > h1 {
        box-sizing: border-box;
        background-color: hsla(0, 0, 0, 0.5);
        border-radius: inherit;
        padding: 0.25em;
        margin: 0;
        user-select: none;
    }

    &_slider {
        box-sizing: border-box;

        padding: 1em;
        width: 50%;
        z-index: 2;
        background-color: hsla(0, 0, 0, 0.5);
        border-radius: inherit;

        &_text {
            font-size: 1.5em;
            user-select: none;
        }
        &_input {
            width: 100%;
            background-color: red;
            cursor: pointer;
        }
        &_values {
            display: flex;
            justify-content: space-between;
            padding: 1px 0.5em 1px 0.5em;
            user-select: none;
        }
    }

    &_button {
        box-sizing: border-box;
        background-color: hsla(0, 0, 0, 0.5);
        width: 5em;
        min-height: 2em;
        color: white;
        font-size: 1.5em;
        padding: 0;
        border-radius: inherit;
        transition: background-color 120ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: black;
        }
    }
}
